<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.power.value" class="resource-label">Power</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.power.value" value="{{system.power.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.power.max" value="{{system.power.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Abilties Tab --}}
    <div class="tab abilities" data-group="primary" data-tab="abilities">
      <section class="grid grid-2ol">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
        <div class="abilities grid-start-1">
          <label class="resource-label">Abilities</label>
          {{#each system.abilities as |ability key|}}
          <div class="ability flexrow flex-group-center">
            <label for="system.abilities.{{key}}.die" class="resource-label flexlarge align-left" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities key)}}</label>
            <button class="increase-ability" data-ability="{{key}}">+</button>
            <label for="system.abilities.{{key}}.die" class="resource-label flexsmall align-center" data-label="Die">{{ability.die}}</label>
            <label for="system.abilities.{{key}}.bonus" class="resource-label flexsmall align-center" data-label="Bonus">{{ability.bonus}}</label>
            <button class="decrease-ability" data-ability="{{key}}">-</button>
          </div>
          {{/each}}
        </div>
        <div class="derived-abilities grid-start-2">
          <label class="resource-label">Derived Abilities</label>
          {{#each system.derivedAbilitiesValue as |ability key|}}
          <div class="derived-abilities flexrow flex-group-center">
            <label for="system.derivedAbilitiesValue.{{key}}.value" class="resource-label flexlarge align-left derived-attributes-padding" data-label="{{localize (lookup @root.config.derivedAbilitiesValue key)}}">{{localize (lookup @root.config.derivedAbilitiesValue key)}}</label>
            <label for="system.derivedAbilitiesValue.{{key}}.value" class="resource-label flexsmall align-left derived-attributes-padding" data-label="Value">{{ability.value}}</label>
          </div>
          {{/each}}
          <label class="resource-label">Derived Abilities: Pools</label>
          {{#each system.derivedAbilitiesPool as |ability key|}}
          <div class="derived-abilities flexrow flex-group-center">
            <label for="system.derivedAbilitiesPool.{{key}}.value" class="resource-label flexlarge align-left derived-attributes-padding" data-label="{{localize (lookup @root.config.derivedAbilitiesPool key)}}">{{localize (lookup @root.config.derivedAbilitiesPool key)}}</label>
            <label for="system.derivedAbilitiesPool.{{key}}.value" class="resource-label flexsmall align-left derived-attributes-padding" data-label="Value">{{ability.value}}</label>
          </div>
          {{/each}}
        </div>

        {{!-- For the main hindrance/traits list, span the right two columns --}}
        {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
        <section class="main grid-span-2">
          {{> "systems/sentius-rpg/templates/actor/parts/actor-hindrances.hbs"}}
        </section>

        <section class="main grid-span-2">
          {{> "systems/sentius-rpg/templates/actor/parts/actor-traits.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/sentius-rpg/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/sentius-rpg/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/sentius-rpg/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
