<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-1col'>
        <div class='resource'>
          <label class='resource-label'>Credits</label>
          <input
            type='text'
            name='system.credits'
            value='{{system.credits}}'
            data-dtype='Number'
          />
        </div>
      </div>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>Quantity</label>
          <input
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='attributes'>Attributes</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid-span-1'>
          <label class='resource-label'>Current Resource</label>
          <div class="align-left">
            <img src="systems/sentius-rpg/assets/increment-arrow.webp" class="die-icon increase-vehicle">
            <span class="die-word">{{system.vehicle.armorCurrentDie}}</span>
            <img src="systems/sentius-rpg/assets/decrement-arrow.webp" class="die-icon decrease-vehicle">
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Armor Rating</label>
            <input
              type='text'
              name='system.vehicle.armorRating'
              value='{{system.vehicle.armorRating}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Armor Die</label>
            <input
              type='text'
              name='system.vehicle.armorDie'
              value='{{system.vehicle.armorDie}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Size</label>
            <input
              type='text'
              name='system.vehicle.size'
              value='{{system.vehicle.size}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Speed</label>
            <input
              type='text'
              name='system.vehicle.speed'
              value='{{system.vehicle.speed}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Defense</label>
            <input
              type='text'
              name='system.vehicle.defense'
              value='{{system.vehicle.defense}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Handling</label>
            <input
              type='text'
              name='system.vehicle.handling'
              value='{{system.vehicle.handling}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Properties</label>
            <input
              type='text'
              name='system.vehicle.properties'
              value='{{system.vehicle.properties}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Crew</label>
            <input
              type='text'
              name='system.vehicle.crew'
              value='{{system.vehicle.crew}}'
              data-dtype='String'
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</form>