<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-1col'>
        <div class='resource'>
          <label class='resource-label'>Credits</label>
          <input
            type='text'
            name='system.credits'
            value='{{system.credits}}'
            data-dtype='Number'
          />
        </div>
      </div>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>Quantity</label>
          <input
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='attributes'>Attributes</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Number of Dice</label>
            <input
              type='text'
              name='system.vehicleweapon.diceNum'
              value='{{system.vehicleweapon.diceNum}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Die Size</label>
            <input
              type='text'
              name='system.vehicleweapon.diceSize'
              value='{{system.vehicleweapon.diceSize}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-2'>
            <label class='resource-label'>Roll Modifier</label>
            <input
              type='text'
              name='system.vehicleweapon.diceBonus'
              value='{{system.vehicleweapon.diceBonus}}'
              data-dtype='String'
            />
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Range Increment</label>
            <input
              type='text'
              name='system.vehicleweapon.rangeIncrement'
              value='{{system.vehicleweapon.rangeIncrement}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Capacity</label>
            <input
              type='text'
              name='system.vehicleweapon.capacity'
              value='{{system.vehicleweapon.capacity}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Rate of Fire</label>
            <input
              type='text'
              name='system.vehicleweapon.rateOfFire'
              value='{{system.vehicleweapon.rateOfFire}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Attack Type</label>
            <input
              type='text'
              name='system.vehicleweapon.attackType'
              value='{{system.vehicleweapon.attackType}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Damage Type</label>
            <input
              type='text'
              name='system.vehicleweapon.damageType'
              value='{{system.vehicleweapon.damageType}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Armor Piercing</label>
            <input
              type='text'
              name='system.vehicleweapon.armorPiercing'
              value='{{system.vehicleweapon.armorPiercing}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div class='grid grid-1col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Properties</label>
            <input
              type='text'
              name='system.vehicleweapon.properties'
              value='{{system.vehicleweapon.properties}}'
              data-dtype='String'
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</form>